.col-1-12 {
	width: 80px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-2-12 {
	width: 160px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-3-12 {
	width: 240px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-4-12 {
	width: 320px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-5-12 {
	width: 400px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-6-12 {
	width: 480px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-7-12 {
	width: 560px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-8-12 {
	width: 640px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-9-12 {
	width: 720px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-10-12 {
	width: 800px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-11-12 {
	width: 880px;
	padding: 0 20px;
	background-color: #FFCCCC;
}

.col-12-12 {
	width: 960px;
	padding: 0 20px;
	background-color: #FFCCCC;
}